<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>F.A.Q.</title>
    <link rel='stylesheet' type='text/css' href='static/css/style.css'>
    <link rel='stylesheet' type='text/css' href='node_modules/bootstrap/dist/css/bootstrap.min.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='node_modules/bootstrap/dist/js/bootstrap.min.js'></script>
</head>
<body> 
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom py-0">
        <div class='container'>
            <div class="nav navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#myCollapsingList">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <ul id="myCollapsingList"
                class="nav navbar-nav collapsed navbar-collapse">
                 <li><a  href="index.html">Home</a></li>
                 <li><a  href="/music.html">Music</a></li>
                 <li><a  href="/faq.html">F.A.Q.</a></li>
                 <li><a  href="/reservations.html">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class ="container">
        <div class="jumbotron jumbotron-custom">
            <div class="container">
            <div class="row">
                <div class="col-md-6">
            <h1>The Monkees</h1>
            <a href="reservations.html">
            <button type="submit" class="btn btn-primary">Book Your Wedding Date Now!</button> </a>
                </div>
                <div class="col-md-6">
            <img src="static\assets\images\cover3.jpg">
                </div>
            </div>  
            </div> 
        </div>
    </div>
    <div class='container'> 
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Q: How do I go about booking The Monkees for my event?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p class='panel'>A: If we are available upon your enquiry we will send a detailed quote which will also contain information about up and coming viewing dates!</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Q: Who is the booking co-ordinator and can I be rest assured that my email responses will be prompt?</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>A: We have a full-time booking. Be rest assured that not only will your booking process be plane sailing, he will also be part of the band on the night | All emails, phone calls are answered promptly! For us the administration is as important as the music on the night!</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Q: Will the band i book at the showcase be the band i get on the night? </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>A: We pride themselves on not only offering a great nights entertainment but providing the band that you BOOK and see at the showcase! We are also members of the “Wedding Band Association“. TheMonkees has hosted the same core musicians for over 10 yrs! Be aware of bands sending out multiple line up to different wedding on the same night under the same BAND NAME! Thats right, it happens. Be sure to book a professional band with one line up and be guaranteed a great night of fun and dancing!</p>
                    </div>
                </div>
            </div>
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Q: How much of a deposit do you require ?</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>A: We require a €200 deposit to secure a booking. No booking is secure with-out deposit.</p>
                    </div>
                </div>
            </div>
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Q: How long do TheMonkees play for?</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>A: TheMonkees play a dynamic, high energy sets inclusive of interval,which differ from booked duration! Thats right, include desired duration in the contact form and we will come back to you with details on sets and overall duration.</p>
                    </div>
                </div>
            </div>
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Q: Do TheMonkees travel around Ireland?</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>A: Yes, TheMonkees Travel around Ireland, however there is an additional charge to travel outside of Leinster. We’ve been to every corner of the World and travelling is never an issue.</p>
                    </div>
                </div>
            </div>
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Q: Do TheMonkees learn the first dance of your choice ?</a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>A: Indeed,  TheMonkees will learn the first dance of your choice. We’re always up for a challenge!</p>
                    </div>
                </div>
            </div>
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Q: When do we pay the remaining balance ?</a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>A: The remaining balance is paid on the night either before TheMonkees start or during the interval.</p>
                    </div>
                </div>
            </div>
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Q: Can TheMonkees supply the | church music | Pre-dinner music | DJ ?</a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>A: Yes, we can provide church music, pre-dinner music and DJ. We provide a full days entertainment.</p>
                    </div>
                </div>
            </div>
        </div>    
    </div>
   <footer class="footer">
    <div class="container">
        <h2>Copyright</h2>
    </div>
        </footer>
<script type="text/javascript" src="static/js/script.js"></script>

</body>