<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Music</title>
    <link rel='stylesheet' type='text/css' href='static\css\style.css'>
    <link rel='stylesheet' type='text/css' href='node_modules/bootstrap/dist/css/bootstrap.min.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='node_modules/bootstrap/dist/js/bootstrap.min.js'></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom py-0">
        <div class='container'>
            <div class="nav navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#myCollapsingList">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <ul id="myCollapsingList"
                class="nav navbar-nav collapsed navbar-collapse">
                <li><a  href="index.html">Home</a></li>
                 <li><a  href="/music.html">Music</a></li>
                 <li><a  href="/faq.html">F.A.Q.</a></li>
                 <li><a  href="/reservations.html">Contact</a></li>
            </ul>
        </div>
    </nav>
       <div class ="container">
        <div class="jumbotron jumbotron-custom">
            <div class="container">
            <div class="row">
                <div class="col-md-6">
            <h1>The Monkees</h1>
            <a href="reservations.html">
            <button type="submit" class="btn btn-primary">Book Your Wedding Date Now!</button> </a>
                </div>
                <div class="col-md-6">
            <img src="\assets\images\cover3.jpg">
                </div>
            </div>  
            </div> 
        </div>
    </div>
    <div class='container'>
        <div class='row'>
            <div class='col-md-6'>
                <h1>Stepping Stone</h1>
                <img src="\static\assets\images\cover1.jpg">
                <audio controls= "controls">
                    <source src="\assets\audio\SteppingStone.mp3" type="audio/mpeg; codecs=mp3"/>
                </audio>
            </div>
            <div class='col-md-6'>
                <h1>Im A Believer</h1>
                <img src="theMonkees\static\assets\images\cover1.jpg">
                <audio controls= "controls">
                    <source src="\assets\audio\ImABeliever.mp3" type="audio/mpeg; codecs=mp3"/>
                </audio>
            </div>
            <div class='col-md-6'>
                <h1>Daydream Believer</h1>
                <img src="theMonkees\static\assets\images\cover1.jpg">
                <audio controls= "controls" style="align-self: left;">
                    <source src="\assets\audio\DaydreamBeliever.mp3" type="audio/mpeg; codecs=mp3"/>
                </audio>
            </div>
            <div class='col-md-6'>
                <h1>Clarksville</h1>
                <img src="\assets\images\cover1.jpg">
                <audio controls= "controls">
                    <source src="\assets\audio\Clarksville.mp3" type="audio/mpeg; codecs=mp3"/>
                </audio>
            </div>
        </div>
    </div>

    <footer class="footer">
    <div class="container">
        <h2>Copyright</h2>
    </div>
        </footer>
<script type="text/javascript" src="\static\js\script.js"></script>
</body>